<html>
		<head> 

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title> Parse McParseface interface</title>
		
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='parser.css') }}" />

		</head>




		<body>
			<h1>Syntaxnet - Parser českých vět</h1>
			<a href="index">English Parser</a>
			<br>

		Pro informace ohledně použitých POS tagů a syntaktických vztahů navštivte web <a href="http://universaldependencies.org/">Universal Dependencies</a><br>	
		Vložte větu kterou si přejete parsovat. <br>	
		
		 <form action="czech_parser" method="post" name="submit" accept-charset="utf-8">
			<p>
			{{ form.submit(Size=70,class_="submitForm")}}
			

			<input class="sendButton" type="submit" value="odeslat"></p>
			
		</form>

		<h2> Vstup </h2>
		<div id="parse" class="spacingFree"> {{ sentence.decode('utf-8') }} </div>

		 <h2>Výstup parseru</h2>
			<div class="parserOutput">
			<pre id="parse" class="spacingFree">{{ parsedSentence.decode('utf-8') }} </pre>
			</div>
		</body>
	</html>

