<html>
		<head> 
		<title> Parse McParseface interface</title>
		
		
  

		<head>
		<body>
			<h1>Parsey McParseface</h1>

			<a href="czech_parser">Czech Parser</a>
			<br>

		Add sentence that will be parsed <br>	
		
		 <form action="index" method="post" name="submit">
			<p>
			{{ form.submit(Size=100,class_="submitForm")}}
			

			<input class="sendButton" type="submit" value="send"></p>
			
		</form>

		 <h2>Parse</h2>
			<div class="parserOutput">
			<pre id="parse" class="spacingFree">{{ parsedSentence }} </pre>
			</div>
		</body>
	</html>

